@import url('https://fonts.googleapis.com/css?family=Righteous');

button{	-moz-box-shadow:inset 0px 1px 3px 0px #006603;
	-webkit-box-shadow:inset 0px 1px 3px 0px #006603;
	box-shadow:inset 0px 1px 3px 0px #006603;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #487546), color-stop(1, #3c603a));
	background:-moz-linear-gradient(top, #487546 5%, #3c603a 100%);
	background:-webkit-linear-gradient(top, #487546 5%, #3c603a 100%);
	background:-o-linear-gradient(top, #487546 5%, #3c603a 100%);
	background:-ms-linear-gradient(top, #487546 5%, #3c603a 100%);
	background:linear-gradient(to bottom, #487546 5%, #3c603a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#487546', endColorstr='#3c603a',GradientType=0);
	background-color:#487546;
	-moz-border-radius:7px;
	-webkit-border-radius:5px;
	border-radius:7px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    padding:11px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    margin:25px 0;
}
button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3c603a), color-stop(1, #487546));
    background:-moz-linear-gradient(top, #3c603a 5%, #487546 100%);
    background:-webkit-linear-gradient(top, #3c603a 5%, #487546 100%);
    background:-o-linear-gradient(top, #3c603a 5%, #487546 100%);
    background:-ms-linear-gradient(top, #3c603a 5%, #487546 100%);
    background:linear-gradient(to bottom, #3c603a 5%, #487546 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c603a', endColorstr='#487546',GradientType=0);
    background-color:#3c603a;
}
button:active {
	position:relative;
    top:3px;
}
button:focus{
    outline:none;
}
.navButton{
    padding:11px 19px;
}
.spreadButton{
    width:100%;
    margin:15px 0;
}
.saveNew{
    min-width:120px;
}

a{
    text-decoration:none;
}
input{
    background:rgba(255,255,255,.5);
    font-family:'Righteous', cursive;
    font-size:18px;
    width:33%;
    color:black;
    border-radius:7px;
    border: 0;
    padding:7px;
    min-width: 150px;
}
input:focus{
    border-radius:7px;
    background-color:#487546;
    outline:none;
}
::placeholder{
    color:black;
    opacity:1;
}
body{
    color:white;
    text-decoration:none;
    height:100%;
    width:auto;
    display:flex;
    flex-direction:column;
    background:url(https://images.unsplash.com/photo-1508144753681-9986d4df99b3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b3cf0ccc6287057b5a71b0ecdd6cf3f4&auto=format&fit=crop&w=1950&q=80) fixed;
    background-position:center top fixed;
    background-repeat:no-repeat;
    background-size:cover;
}
div{
}
.sub{
    display:flex;
    align-items:center;
    font-family:'Righteous', cursive;
    font-size:12px;
    width:33%;
    height:27px;
    padding:25px 0 25px 25px;
}


.child{
    border:2px solid #006603;
    padding:10px 0;
    margin:25px 0;
    width:100%;
}
.shifty{
    width:100%;
    padding:0 10px;
}
.appMaster{
    width:100%;
    height:100%;
}
.appChild{
    width:100%;
    height:100%;
}
.headerMaster{
    height:7vh;
    width:100%;
    display:flex;
    justify-content:space-between;
    background-color:black;
    color:white;
    font-weight:bold;
}
.headerChild{
    width:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.headerLogo{
    font-family:'Righteous', cursive;
    font-size:40px;
}
.navMaster{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width: 190px;
    margin:0,50px,0,0;
}
.cardMaster{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:7px;
    margin:0;
    overflow: hidden;
}
.cardItem{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:'Righteous', cursive;
    font-size:14px;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
    width:auto;
    height:27px;
    padding:5px;
    color:white;
    
}
.deleteBox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0 0 5px 0
}
.cardDelete{
    width: 100px;
    height: 40px;
    margin:0;
}
.cardChild{
    width:100%;
    height:100%;
    border:2px solid #006603;
    background-color:rgba(0,0,0,.5);
}
.marv{
    background-color:rgba(0,0,0,.5);
}
.cardUpOne{
    width:100%;
    height:100%;
}
.cardTainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:space-around;
    width:100%;
    height:100%;
}

.cardBox{
    display:flex;
    padding:5px;
    width:fit-content;
    height:fit-content;
}
.cardNavButton{
    margin:0 5px 0 5px;
}
.linkPair{
    margin:0;
}
.formWrapper{
    height:fit-content;
    width:100%;
}
.formMaster{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.cardMaster{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    height:100%;
    width:100%;
}
.linkHolder{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-end;
    margin:10px 5px 5px 5px;
}
.welcomeMaster{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:80vh;
    width:100%;

}
.welcomeMiddle{
    width:80vw;
    height:80vh;
    display:flex;
    flex-direction: column-reverse;
    align-items:center;
}
.welcomeChild{
    background-color:rgba(255,255,255,.5);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:30px;
    width:110%;
    height:fit-content;
    color:black;
    border-radius:7px;
    padding: 15px;
    
}
.listHolder{

}
.listItem{
    padding:15px 15px;
    font-size:16px;
    font-weight:bold;
    
}
.welcome{
    font-family:'Righteous', cursive;

}
.constantChild{
    background-color:rgba(0,0,0,.5);
    overflow:hidden;
    border-radius:7px;
    margin:0 0 25px 0;
}
.constantMini{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.constantButtons{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin:0 0;
}
.constantButton{
    width: 30%
}
.inputChild{
    background-color:rgba(0,0,0,.5);
    overflow:hidden;
    border-radius:7px;
    margin:10px 0;
}
.inputMini{
    display:flex;
    align-items:center;
    justify-content:space-around;
        
}
.outputChild{
    background-color:rgba(0,0,0,.5);
    overflow:hidden;
    border-radius:7px;
    margin:10px 0;
    padding:10px 0;
    
}
.outputMini{
    display:flex;
    align-items:center;
    justify-content:space-around;  
}
.outputSub{
    width:50%;
}
.graphSeperator{
    height:100%;
    width:100%;
}
.graphChild{
    background-color:rgba(0,0,0,.5);
    border-radius:7px;
    margin: 10px 0 25px 0;
}
.constInputsWrapper{
    width: 100%;
}
.outputsWrapper{
    width:100%;
}

@media(min-width:500px){
    .navMaster{
        width:250px;
    }
    .sub{
        font-size:16px;
    }
    .listItem{
        padding:15px 15px;
        font-size:18px;
        
    }

}

@media(min-width:800px){

div{
}

.split1{
    margin:0 0 0 0px;
    width: 150px;
}
.split2{
    width: 150px;
}
.outputMini{
    width:50%;

}
.outputChild{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:space-around;
    height:220px;
}
.listItem{
    padding:15px 15px;
    font-size:22px;
    
}
.sub{
    font-size:20px;
}
}

@media(min-width:1200px){
    .shifty{
        width:100%;
    }
    div{
    }
    .spreadButton{
    width:100%;
    }

    .split1{
        margin:0;
        width: 50%;
    }
    .split2{
        width: 50%;
    }

    .formWrapper{
        height:100%;
        width:100%;
    }    
    .formMaster{
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        height:100%;
        width:100%;
    }
    .constInputsWrapper{
        width:50%;
        height:100%;
    }
    .outputsWrapper{
        width:50%;
        height:505px;
        margin:10px 0 0 0;
    }
    .constantMaster{
        height:40%;
    }
    .inputMaster{
        height:20%;
    }
    .inputChild{
    }
    .outputMaster{
        display:flex;
        flex-direction:column;
        height:100%;
    }
    .outputChild{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        height:100%;
        width:100%;
    }
    .graphSeperator{
        height:500px;
        width:100%;
    }
    .graphMaster{
        height:100%;
        width:100%;
    }
    .graphChild{
        width:100%;

    }
    .constantButtons{
        justify-content: space-between;
        width:100%;
    }
    .constantSub{
        padding:27.5px 0 27.5px 25px;
    }
    .inputSub{
        padding:27.5px 0 27.5px 25px;
    }
    .listItem{
        padding:15px 15px;
        font-size:26px;
        
    }




}